In [2]:
x = 10  # 정수형
y = -5  # 음수도 정수
print(type(x))  # <class 'int'>

<class 'int'>
<class 'float'>

In [3]:
pi = 3.14  # 실수형
print(type(pi))  # <class 'float'>

<class 'float'>

In [4]:
z = 3 + 4j  # 복소수
print(type(z))  # <class 'complex'>

<class 'complex'>

In [1]:
name = "Alice"  # 큰 따옴표
greeting = 'Hello, World!'  # 작은 따옴표
print(type(name))  # <class 'str'>

<class 'str'>

In [3]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name  # 문자열 연결
print(full_name)  # John Doe

John Doe

In [7]:
message = "Python"
print(len(message))  # 6

6

In [8]:
print("Hi " * 3)  # Hi Hi Hi

Hi Hi Hi

In [9]:
is_sunny = True
is_raining = False
print(type(is_sunny))  # <class 'bool'>

# 논리 연산
print(10 > 5)  # True
print(3 == 4)  # False

<class 'bool'>
True
False

In [5]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
print(type(fruits))  # <class 'list'>

<class 'list'>

In [11]:
print(fruits[0])  # apple (첫 번째 요소)
print(fruits[-1])  # cherry (마지막 요소)

apple
cherry

In [12]:
fruits.append("orange")  # 요소 추가
print(fruits)  # ['apple', 'banana', 'cherry', 'orange']

fruits.remove("banana")  # 특정 요소 삭제
print(fruits)  # ['apple', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']

In [9]:
colors = ("red", "green", "blue")
print(colors[1])  # green
colors[1] = "yellow"  # 오류 발생 (튜플은 변경 불가)

green

TypeError: 'tuple' object does not support item assignment

In [14]:
person = {"name": "Alice", "age": 25, "city": "Seoul"}
print(person["name"])  # Alice
person["age"] = 26  # 값 변경
print(person)  # {'name': 'Alice', 'age': 26, 'city': 'Seoul'}

Alice
{'name': 'Alice', 'age': 26, 'city': 'Seoul'}

In [15]:
numbers = {1, 2, 3, 4, 4, 5}
print(numbers)  # {1, 2, 3, 4, 5} (중복 제거)

{1, 2, 3, 4, 5}

In [16]:
value = None
print(type(value))  # <class 'NoneType'>

<class 'NoneType'>